.container {
    margin-top: 15px;
}

.retangulo {
    width: 400px;
    height: 300px;
    border: 2px solid black;
    position: relative;
    left: 100px;
    margin-top: 15px;
}

/* .frase {
    position: absolute;
    left: 10px;
    top: 10px;
} */

#faturamento {
    /* width: 200px; */
    /* height: 100px; */
    float: left;
    /* text-align: center; */
    line-height: 350px;
}

#evolucao {
    /* margin-top: 15px; */
}

.tema {
    font-size: 22px;
    font-weight: 500;
}

.tema2 {
    /* margin-top: 20px; */
    font-size: 22px;
    font-weight: 500;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
}

.box {
    border: 2px solid green;
    border-radius: 10px;
    /* width: 100px; */
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

/* .progress{
    margin-top: 20px;
} */

#porcentagem {
    color: gray;
    font-size: small;
}

#texto2 {
    /* color: gray; */
    font-size: small;
}