* {
    padding: 0;
    margin: 0;
}

.header {
    min-height: 12vh;
    background-color: #47141e;

}

#dropdownMenuButton {
    background-color: #47141E;
    border-color: #47141E;
}

.logopng {
    width: 10rem;

}


.texto {
    margin-bottom: 0;
}


.conteudo {
    min-height: 78vh;
}

#footer {
    min-height: 5vh;
    background-color: #47141E;
    color: #fff;
    text-emphasis-color: #fff;
    position: relative;
    top: 5%;
    bottom: 0;
    width: 100%;
}

.logout {
    --bs-dropdown-min-width: 5.5rem;
}



/* *{box-sizing: border-box;}
main { width: 50%; float: left;}
aside { width: 48%; float: right;}
*/
/* Box para Entradas e Saidas */

.containerEntradaSaida {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10%;
}

h2,
h3 {
    font-size: 15px;
    text-align: center;
}

.entradaBox {
    width: 40%;
}

.saidaBox {
    width: 40%;
}

.box_green {
    text-align: center;
    font-size: small;
    border-radius: 7px;
    border: 3px solid rgb(50, 190, 50);
}

.box_red {
    text-align: center;
    font-size: small;
    border-radius: 7px;
    border: 3px solid rgb(199, 35, 35);
}

/* Fim - Box para Entradas e Saidas */

/* Inicio - Informativos */
.informativos {
    width: 95%;
    display: inline-block;
    margin: 8px;
    text-align: center;
    border: 2px solid black;
    border-radius: 7px;
}

h4 {
    text-align-last: left;
    border: 2px solid black;
    border-radius: 3px;
}

.period_info_1,
.period_info_2,
.result_info_1,
.result_info_2 {
    font-size: 15px;
}

/*Fim - Informativos*/

/* Inicio - Movimentações Recentes */

#graficoContainer {
    margin: 4px;
    border: 4px solid black;
    border-radius: 7px;
}

.Movimentações_Recentes {
    width: 100%;
    font-size: larger;
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 4px solid black;
}

.pesquisaGrafico {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tituloPesquisaGrafico {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10%;
}

.boxPesquisaGrafico {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2%;
}

h5 {
    text-align: center;
    margin-left: 5%;
}

.box_empty .box_red_full {
    border-radius: 7px;
    border: 3px solid #000000;

}

#dataFimTiago,
#dataInicioTiago {
    height: 30px;
    border: 3px solid black;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

#Filtrar {
    border: 3px solid black;
    background-color: rgb(199, 35, 35);
    color: #ffffff;
}

.resultFiltro {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
    font-size: 14px;
}

/* Fim - Movimentações Recentes  */


#containerMovimentacoes {
    -webkit-box-shadow: 2px 2px 22px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 22px 8px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 22px 8px rgba(150, 147, 147, 0.75);
    border-radius: 20px;
}

/* GRÁFICOS LUCAS */

#grafico {
    -webkit-box-shadow: 2px 2px 22px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 22px 8px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 22px 8px rgba(150, 147, 147, 0.75);
    border-radius: 20px;
}


#infosGrafico {
    -webkit-box-shadow: 2px 2px 22px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 22px 8px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 22px 8px rgba(150, 147, 147, 0.75);
    border-radius: 20px;

}

#dropMenuBtn {
    --bs-dropdown-min-width: 5.3rem;
}


#btnFiltrar {
    background-color: #47141E;
    color: #fff;
    border-radius: 5px;
    padding: 1px 10px;
    margin-bottom: 20px;
}

#btnFiltrar:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}