.container {
    margin-top: 15px;
}

.container h2 {
    margin-top: 15px;
}

.profile-section {
    margin-top: 30px;
    padding: 20px;
}

/* 
.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
} */

.profile-info label {
    font-weight: bold;
    margin-right: 10px;
}

.edit-icon {
    margin-left: 10px;
    cursor: pointer;
}

#card-view {
    -webkit-box-shadow: 2px 2px 22px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 22px 8px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 22px 8px rgba(150, 147, 147, 0.75);
    border-radius: 20px;
    border-color: #47141E;
}

.linha {
    border-bottom: 1px solid #333;
    width: 100%;
    margin-top: 10px;
    min-height: 10px;
}

.bi-eye {
    margin-bottom: 10px;
}

.bi-eye-slash {
    margin-bottom: 10px;
}

.edit-icon {
    color: black;
}

#footer {
    min-height: 5vh;
    background-color: #47141E;
    color: #fff;
    text-emphasis-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}