* {
    padding: 0;
    margin: 0;
}

.header {
    min-height: 12vh;
    background-color: #47141e;
}

#dropdownMenuButton {
    background-color: #47141E;
    border-color: #47141E;
}

.logopng {
    width: 10rem;

}


.texto {
    margin-bottom: 0;
}


.conteudo {
    min-height: 30vh;
}

#footer {
    min-height: 5vh;
    background-color: #47141E;
    color: #fff;
    text-emphasis-color: #fff;
    position: absolute; 
    margin-top: 5%;
    width: 100%;
  }

  #dropMenuBtn {
    --bs-dropdown-min-width: 5.4rem;
}